@model Joke
@{
    ViewData["Title"] = "Home Page";
}

<h1 class="mb-3">Add New Joke</h1>
<hr />

<form asp-controller="Home" asp-action="Add">
    <div class="mb-3">
        <label class="form-label">Author</label>
        <input asp-for="Author" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Joke</label>
        <textarea asp-for="Content" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
